* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
}
.headerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

img {
  width: 100px;
  padding: 10px;
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: 0.6s;
  border-radius: 10px;
  background-color: none;
  border: 1px;
}

 a:hover {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(106, 223, 0, 0.12088585434173671) 100%
  );
  border: 0.5px solid black;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
} 

input {
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px 10px;
}

button {
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px 10px;
  background-color: white;
  transition: 1s;

} 


.rotar {
  filter: blur(0.4px);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}